{% extends "DJPReleaseManagerBundle::base.html.twig" %}

{% block title %}DJPReleaseManagerBundle:Project:index{% endblock %}

{% block body %}
    <h1>Welcome to the Project:index page</h1>
{% endblock %}
