{% extends "DJPReleaseManagerBundle::base.html.twig" %}

{% block title %}DJPReleaseManagerBundle:Project:view{% endblock %}

{% block body %}
<h1>Welcome to the Project:view page</h1>
{% endblock %}
